* {
    font-family:'Courier New', Courier, monospace;
    
}

.header h1 {
    display: flex;
    justify-content: center;
   
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}

.mainContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    border: 5px solid black;
    width: auto;
    min-width: 100px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding: 10px;
    
    
}

h2, h3 {
    margin: 0;
}

.padContainer {
    border: 5px solid black;
    width: 70%;
    height: 70%;
    max-height: 900px;
    max-width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-shrink: 3;
    flex-basis: 3;
    aspect-ratio: 1 / 1;
}

.sketchpad {
    width: 95%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 2;
    flex-basis: 2;
    border: 5px solid black;
    flex-wrap: wrap;
}


.square {
    display: flex;
    flex-grow: 10;
    border: -1;
    
}

.square:hover {
    background-color: rgb(141, 137, 137);
}

button {
    font-size:medium;
    padding: 5px;
}